<section class="global__header text__violet--500 text__center">
	<div class="container">
        {% if bg %}
            <div class="header__image">
                <img src="{{bg}}" alt="">
            </div>
        {% endif %}
		<h2 class="title__global global__header--title">
			{{title}}
		</h2>
		<p class="global__header--info">
			{{info}}
		</p>
		{% if btn %}
			<button type="button"
                modal-show="show"
                modal-data="#formContact" class="btn btn__detail bgc__white--100 text__blue--900" title="{{btn}}">
				{{btn}}
			</button>
		{% endif %}
	</div>
</section>
